@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    bool hasId = false;
    int id = -1;

    if (User.Identity.IsAuthenticated)
    {
        hasId = int.TryParse(User.Claims.FirstOrDefault(claim => claim.Type == "Id").Value, out id);
    }
}

<div class="list-group list-group-flush">
    @foreach (var topic in Model.TopicList)
    {
        <div class="list-group-item d-flex justify-content-between w-100">
            <a class="topic rounded d-flex justify-content-between w-100 text-decoration-none" asp-page="/Topics/Index" asp-route-id="@topic.Id">
                <h3 class="mt-auto mb-auto">@topic.Name</h3>
            </a>
            @if (hasId && id == topic.AuthorId)
            {
                <form method="post" asp-page="/Topics/Delete" asp-route-id="@topic.Id">
                    <button class="btn btn-danger h-100" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash mb-1" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                    </button>
                </form>
            }
        </div>
    }
</div>
@if (hasId)
{
    <a class="btn btn-primary ms-3" asp-page="/Topics/Edit">Create new topic</a>
}
